/*  */
/*  */

@import '@styles/global.css';


& form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .block {
    padding: 1.4rem 1.8rem 1.8rem;
    background-color: var(--fill-white);
    border-radius: var(--radius-16);
    box-shadow: var(--shadow-btn);

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.input_BLOCK {
  width: 100%;

  & label {
    display: block;
    font-size: inherit;
    margin-bottom: 0.6rem;
    cursor: pointer;
  }

  & input[type='text'], textarea, input[type='email'] {
    width: 100%;
    padding: 1.2rem 1.6rem;
    height: 5rem;
    margin: 0;

    font-size: inherit;
    border: var(--border-black-01);
    border-radius: var(--radius-12);
    background-color: var(--btn-dark);
    
    outline: none;
    outline: 2px solid transparent;
    transition: border-color 0.3s;

    &[data-focused='true'] {
      border: var(--border-brand-black);
      box-shadow: none;
    }

    &[data-invalid='true'] {
      border: var(--border-red);
    }
  }

  & .Radio_LINES {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    & label {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 0.8rem 1.2rem;
      
      transition: 100ms;
      border-radius: var(--radius-12);
      border: 1px solid transparent;
      font-weight: 400;
  
      &::before {
        content: '';
        display: inline-block;
        background-color: var(--btn-dark);
        transition: 100ms;
        width: 2rem;
        height: 2rem;
        border: var(--border-black-01);
        border-radius: 50%;
        margin: 0 0.8rem 0.2rem 0;
        cursor: pointer;
      }

      &[data-hovered], {
        background-color: var(--btn-dark);
      }
      &[data-focused] {
        background-color: var(--btn-dark);
        border: var(--border-brand-black);
        @media (max-width: 1000px) {border: 1px solid transparent;}
      }
      &[data-selected="true"] {
        background-color: var(--btn-brand-active);
        border: var(--border-brand-active);
        color: var(--text-brand);

        &::before {
          background-color: var(--brand);
          background-image: radial-gradient(circle, white 30%, var(--brand) 34%);
        }
      }
    }
  }

  & textarea {
    resize: vertical;
    height: 30rem;

  }

  & .input_ERROR {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--red);
    font-weight: 600;
    margin-top: 0.8rem;

    & svg {
      margin-bottom: 0.4rem;
    }
  }
}