/*  */

@import '@styles/globals.css';

@custom-media --mobile (max-width: 700px);

.btn {
  display: flex;
  align-items: center;
  justify-content: center; 

  border: 1px solid transparent;
  border-radius: var(--radius-12);

  transition: 100ms;
  opacity: 100%;

  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  text-wrap: nowrap;

  column-gap: 8px;

  .icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  * {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
  }
}
.btn-48 {
  composes: btn;
  height: 48px;
  padding: 0px 16px;
}
.btn-44 {
  composes: btn;
  height: 44px;
  padding: 12px 16px;
}
.btn-36 {
  composes: btn;
  height: 36px;
  padding: 12px;
  @media (--mobile) {
    height: 40px;
  }
}

.round {
  border-radius: 100px;
}
.onImg {
  composes: btn;
  border: var(--border-white-15);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.40);
  }
  &:active {
    border: 1px solid white;
  }
  &[data-active="true"]  {
    background-color: rgba(0, 0, 0, 0.40);
    border: 1px solid white;
  }
}
.disabled {
  user-select: none;
  pointer-events: none;
  cursor: auto;
  * {
    opacity: 20%
  }
  
}

/* //////////////////////////////////////// */
/* only used in one place / in one form */

.btn-profile-preview {
  composes: btn;
  composes: onImg;

  text-wrap: wrap;
  text-overflow: ellipsis;

  width: fit-content;
  max-width: calc(100% - 100px);

  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px;  

  & h4, p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
  }

  & p {
    font-weight: 300
  }
  &[data-searchActive="true"] {
    width: 100%;
    max-width: 100% 
  }
  & .highlight {
    font-weight: 700;
    background: var(--brand);
    padding: 0px 6px;
    border-radius: 8px;
}
}
.btn-show-icons {
  composes: btn-36;
  composes: onImg;
}



/* //////////////////////////////////////// */
