/*  */

@import '@styles/global.css';
@custom-media --mobile (max-width: 800px);

.btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  column-gap: 0.8rem;

  border: 0.1rem solid transparent;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-btn);
  background-color: var(--btn-white);
  color: var(--text-black);

  transition: 100ms;

  cursor: pointer;
  font-size: inherit;
  font-weight: 400;
  text-wrap: nowrap;
  
  text-decoration: none;
  position: relative;
  outline: 0.2rem solid transparent;

  
  &[data-hovered] {background: var(--btn-dark)}
  &[data-pressed] {
    background: var(--btn-dark);
    border-color: var(--brand-black);
    box-shadow: none;
  }
  &[data-focus-visible] {
    outline: var(--outline-brand-black);
    outline-offset: -0.1rem;
  }

  & * {
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    transition: 100ms;
  }
  & img, svg  {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    filter: saturate(1.2);
  }
  & img:last-child, svg:last-child, span:last-child {
    margin-left: auto;
  }
  
  & svg {
    transition: transform 0.2s ease;
  }
  & > span{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-brand-black)
  }

  @media (--mobile) {
    column-gap: 1rem;
    & img, svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
.btn-44 {
  composes: btn;
  height: 4.4rem;
  padding: 0rem 1.4rem;
  @media (--mobile) {
    height: 4.8rem;
  }
}
.btn-40 {
  composes: btn;
  height: 4rem;
  padding: 0rem 1.6rem;
  @media (--mobile) {
    height: 4.4rem;
  }
}
.btn-36 {
  composes: btn;
  height: 3.6rem;
  padding: 1.2rem;
  @media (--mobile) {
    height: 4rem;
  }
}

.flex { flex: 1 }
.spaceBetween { justify-content: space-between }
.fullWidth { width: 100% }
.left-align { justify-content: left }
.center { justify-content: center }
.text-left-auto { & p { margin-right: auto }}
.round { border-radius: 10rem }
.red-x-on-hover {
  &[data-hovered="true"] > div {
   &::before, &::after {
      background-color: var(--red);
    }
  }
}

.onImg {
  composes: btn-36;
  border: var(--border-white-15);
  background: var(--btn-onImg);

  backdrop-filter: blur(2rem);
  color: var(--text-white);
  text-shadow: var(--shadow-onImg-text);
  
  &[data-hovered="true"]{
    background-color: var(--btn-onImg-hover);
  }
  &[data-pressed="true"] {
    background-color: var(--btn-onImg-hover);
    border: var(--border-white);
  }
  &[data-focus-visible] {
    outline: var(--outline-white);
  }
}
.onBlur {
  composes: btn-36;
  border: var(--border-white-15);
  background: rgba(255, 255, 255, 0.03);

  color: var(--text-white);
  text-shadow: var(--shadow-onImg-text);

  &[data-hovered="true"]{
    background-color: rgba(255, 255, 255, 0.15);
  }
  &[data-pressed="true"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: var(--border-white);
  }
  &[data-focus-visible] {
    outline: var(--outline-white);
  }


  &[data-custom="active"] {
    text-shadow: none;
    border: var(--border-brand-active);
  }
}

.brand {
  color: white;
  background-color: var(--btn-brand);
  font-weight: 600;

  &[data-hovered="true"]{
    background-color: var(--btn-brand-hover);
  }
  &[data-pressed="true"] {
    border: var(--border-brand);
    background-color: var(--btn-brand-focus);
  }
}
.seeThrough {
  background-color: transparent;
  color: var(--text-black);
  box-shadow: none;
  border: var(--border-black-015);
}
.grey {
  background-color: var(--btn-dark);
  border: var(--border-black-01);
  box-shadow: none;

  &[data-hovered="true"]{
    background-color: var(--btn-darkest);
  }
  &[data-pressed="true"] {
    background-color: var(--btn-darkest);
    border: var(--border-brand-black);
  }
}
.active {
  color: var(--text-brand);
  background-color: var(--btn-brand-active);
  border: var(--border-brand-active);
  font-weight: 600;
  text-shadow: none;

  &[data-hovered="true"]{
    background-color: var(--btn-brand-active-hover);
  }
  &[data-pressed="true"] {
    background-color: var(--btn-brand-active-hover);
    border: var(--border-brand);
  }

  &[data-focus-visible] {
    outline: var(--outline-brand);
  }
}
.green {
  background-color: var(--green-bg);
  border: var(--green-border);
  color: var(--green);
  text-shadow: none;
  font-weight: 600;

  &[data-hovered="true"]{
    background-color: var(--green-hover);
  }
  &[data-pressed="true"] {
    background-color: var(--green-hover);
    border: 1px solid var(--green);
  }

  &[data-focus-visible] {
    outline: var(--outline-green);
  }

}
.red {
  background-color: var(--red-bg);
  border: var(--red-border);
  color: var(--red);
  text-shadow: none;
  font-weight: 600;

  &[data-hovered="true"]{
    background-color: var(--red-hover);
  }
  &[data-pressed="true"] {
    background-color: var(--red-hover);
    border: 1px solid var(--red);
  }
  &[data-focus-visible] {
    outline: var(--outline-red);
  }
}
.disabled {
  opacity: 0.4 !important;
  pointer-events: none !important;
  
}
.saved {
  background-color: var(--red-bg);
  border: var(--border-brand-active);
  opacity: 100% !important;

  &[data-hovered="true"] {
    background-color: var(--red-bg);
  }
  &[data-pressed="true"]  {
    border: var(--border-red);
  }
  &[data-focus-visible] {
    outline: var(--red);
  }

  & svg {
    animation: pop 0.5s ease-out;
  }
  
}

.dropdown {
  &[data-expanded="true"] {
    background-color: var(--btn-white);
    border: var(--border-brand-black);

    &[data-hovered="true"]{
      background-color: var(--btn-dark);
    }
    &[data-pressed="true"]{
      background-color: var(--btn-darkest);
    }

  }
}
.prosCons {
  composes: onBlur;

  & p {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 0.1rem
  }

  & .wrap {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
  }
}

