/*  */

:root {
  --brand: rgba(184, 70, 0, 1);
  --brand-hover: rgba(170, 69, 7, 1);
  --brand-focus: rgba(144, 55, 0, 1);
  --brand-active: rgba(255, 247, 240, 1);
  --brand-active-hover: rgba(255, 240, 226, 1);
  --brand-black: rgba(56, 57, 64, 1);

  --fill-white: rgba(255, 255, 255, 1);
  --fill-bg: rgba(234, 237, 245, 1);

  --text-black: rgba(13, 13, 13, 1);
  --text-fade: rgba(77, 77, 77, 1);
  --text-fade-more: rgba(153, 153, 153, 1);

  --btn-white: rgba(255, 255, 255, 1);
  --btn-dark: rgba(243, 243, 246, 1);
  --btn-darkest: rgba(230, 230, 235, 1);

  --border-brand-active:  1px solid rgba(244, 220, 204, 1);
  --border-black-01:  1px solid rgba(0, 0, 0, 0.1);
  --border-white-15: 1px solid rgba(255, 255, 255, 0.15);
  /* --border-brand-black: rgba(56, 57, 64, 1); */
}

:root {
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;

  --tran-fast: 100ms;

  --shadow-small: 0px 1px 5px 1px rgba(0,0,0, 0.40);
}


