/*  */

@custom-media --mobile (max-width: 700px);
@custom-media --landscape (max-height: 550px) and (max-width: 1100px);


:root {
  --brand: rgba(184, 70, 0, 1);
  --brand-hover: rgba(170, 69, 7, 1);
  --brand-focus: rgba(144, 55, 0, 1);
  --brand-black: rgba(56, 57, 64, 1);

  --fill-white: rgba(255, 255, 255, 1);
  --fill-bg: rgba(234, 237, 245, 1);

  --red-heart: #F2545A;
  --red: #d10c13;
  --red-bg: #fff0f1;
  --red-hover: #ffdde0;
  --red-border: 1px solid #f1b2b4;
  --outline-red: 0.2rem solid #F2545A;

  --green: #005a03;
  --green-bg: #daffda;
  --green-hover: #bffabf;
  --green-border: 1px solid #88cb8a;
  --outline-green: 0.2rem solid #005a03;
  

  --text-brand: rgba(184, 70, 0, 1);
  --brand-active: rgba(255, 247, 240, 1);
  --text-brand-black: rgba(56, 57, 64, 1);
  --text-white: rgba(255, 255, 255, 0.9);
  --text-fade-white: rgba(255, 255, 255, 0.9);
  --text-black: rgba(13, 13, 13, 1);
  --text-fade: rgba(77, 77, 77, 1);
  --text-fade-more: rgba(153, 153, 153, 1);

  --btn-white: rgba(255, 255, 255, 1);
  --btn-dark: rgba(243, 243, 246, 1);
  --btn-darkest: rgba(230, 230, 235, 1);

  --btn-brand: rgba(184, 70, 0, 1);
  --btn-brand-hover: #903700;
  --btn-brand-focus: #AA4507;

  --btn-onImg: rgba(0, 0, 0, 0.4);
  --btn-onImg-hover: rgba(0, 0, 0, 0.5);

  --btn-brand-active: rgba(255, 247, 240, 1);
  --btn-brand-active-hover: rgb(255 230 206);
}

:root {
  --border-brand: 0.1rem solid rgba(184, 70, 0, 1);
  --border-brand-active: 0.1rem solid #e0b79b;

  --border-white: 0.1rem solid white;
  --border-white-15: 0.1rem solid rgba(255, 255, 255, 0.15);
  --border-brand-black: 0.1rem solid rgba(56, 57, 64, 1);
  --border-black-01: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-black-015: 0.1rem solid rgba(0, 0, 0, 0.15);
  --border-red: 0.1rem solid #F2545A;

  --outline-white: 0.2rem solid white;
  --outline-brand: 0.2rem solid rgba(184, 70, 0, 1);
  --outline-brand-black: 0.2rem solid rgba(56, 57, 64, 1);
}

:root {
  --radius-8: 0.8rem; 
  --radius-12: 1.2rem; 
  --radius-16: 1.6rem;

  --tran-fast: 0.1s;

  --shadow-text: 0 0.1rem 0.8rem black; 
  --shadow-small: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4); 
  --shadow-btn: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.15); 
  --shadow-onImg-text: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  --shadow-img: 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.25); 
}

:root {
  --padding-desk: 2.8rem; 
  --padding-mob: 4vmin;
  --padding-shadow-save: 0.6rem;
  --speed: 300ms; 
}

:root {
  --height-nav: 5.6rem; 
}

@keyframes pop {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.menu {
  width: 100% !important;
}

.menu-primary-enter-active, 
.menu-primary-exit-active,
.menu-secondary-enter-active,
.menu-secondary-exit-active,
.menu-secondary-reverse-enter-active,
.menu-secondary-reverse-exit-active,
.menu-third-enter-active,
.menu-third-exit-active {
  & button {
    pointer-events: none;
  }
}

.menu-primary-enter {
  transform: translateX(calc(-100% - 1.4rem)); 
  position: absolute;
  opacity: 0;
}
.menu-primary-enter-active {
  transition: all var(--speed) ease;
  transform: translateX(0%);
  opacity: 1;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transition: all var(--speed) ease;
  transform: translateX(calc(-100% - 1.4rem)); 
  opacity: 0;
}

.menu-secondary-enter {
  transform: translateX(calc(100% + 1.4rem)); 
  position: absolute;
  opacity: 0;
}
.menu-secondary-enter-active {
  transition: all var(--speed) ease;
  transform: translateX(0%);
  opacity: 1;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transition: all var(--speed) ease;
  transform: translateX(calc(100% + 1.4rem)); 
  opacity: 0;
}

.menu-secondary-reverse-enter {
  transform: translateX(calc(-100% - 1.4rem)); 
  position: absolute;
  opacity: 0;
}
.menu-secondary-reverse-enter-active {
  transition: all var(--speed) ease;
  transform: translateX(0%);
  opacity: 1;
}
.menu-secondary-reverse-exit {
  position: absolute;
}
.menu-secondary-reverse-exit-active {
  transition: all var(--speed) ease;
  transform: translateX(calc(-100% - 1.4rem)); 
  opacity: 0;
}

.menu-third-enter {
  transform: translateX(calc(100% + 1.4rem)); 
  opacity: 0;
}
.menu-third-enter-active {
  transition: all var(--speed) ease;
  transform: translateX(0%);
  opacity: 1;
}
.menu-third-exit {
  position: absolute;
}
.menu-third-exit-active {
  transition: all var(--speed) ease;
  transform: translateX(calc(100% + 1.4rem)); 
  opacity: 0;
}

div[data-browser-tab-padding-bottom="true"],
button[data-browser-tab-padding-bottom="true"] {
  padding-bottom: 10dvh !important;
}