/*  */

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  border-style: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Light.ttf);
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Black.ttf);
  font-weight: 800;
}