/*  */

@import '@styles/global.css';
/* @import "~swiper/swiper-bundle.css"; */

.profile_PREVIEW {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: relative;
  overflow: hidden;

  border-radius: var(--radius-16);
  box-shadow: var(--shadow-small);
  background: white;

  & .top, .bottom {
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 8px;
    z-index: 2;
    gap: 4px;
  }

}
.top {
  top: 0px;
  display: flex;

  & .top_RIGHT {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: flex-end;
  }

}
.bottom {
  bottom: 0px;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) auto;
  align-items: end;

  & .slider_ARROWS {
    transition: 150ms;
    display: flex;
    gap: 4px;  
    grid-row: 1;
    grid-column: 2;

    &[data-arrowmove="prev"] > :first-child > svg,
    &[data-arrowmove="next"] > :last-child > svg {
      animation: pop-to-side 0.3s ease-out;
    }
  }

  &[data-search="true"] {
    & .btnProfilePreview_WRAP {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}
@keyframes pop-to-side {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}



.label {
  border-radius: 8px;
  padding: 4px 8px;
  height: 32px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
  box-shadow: var(--shadow-small);

  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;

}
.labelNew {
  composes: label;
  background: linear-gradient(
    rgba(255, 100, 100, 1) 0%, /* Red */
    rgba(255, 180, 0, 1) 10%, /* Orange */
    rgba(220, 230, 40, 1) 20%, /* Yellow */
    rgba(100, 200, 100, 1) 30%, /* Green */
    rgba(80, 180, 180, 1) 40%, /* Cyan */
    rgba(70, 160, 200, 1) 50%, /* Light Blue */
    rgba(60, 120, 200, 1) 60%, /* Blue */
    rgba(100, 50, 200, 1) 70%, /* Dark Blue */
    rgba(150, 30, 200, 1) 80%, /* Purple */
    rgba(220, 30, 180, 1) 90%, /* Magenta */
    rgba(255, 100, 100, 1) 100% /* Red */
  ) 0 0/200% 200%;  animation: move 3s linear infinite; /* Continuous moving animation */
}
@keyframes move {
  to {
    background-position: 200% 200%; /* Move the background diagonally to the opposite corner */
  }
}
.profile_IMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag_PREVIEW {
  width: 100%;
  border-radius: 16px 16px 0px 0px;

  max-height: 350px;
  display: flex;
  flex-direction: column;
  
  
  /* so there is no gap under the tag preview when it jumps up upon animation */
  bottom: -5px;
  
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px -1px 20px #000000bd;

  & button {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0);
    &:hover {background: rgba(255, 255, 255, 0.1) !important}
  }

  & .tagPreview_TOP {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 16px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.90);

  }
  & .tagPreview_BOTTOM {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 6px;
    padding: 12px 8px 17px 8px;  /* so there is no gap under the tag preview when it jumps up upon animation */
    align-content: flex-start;
    overflow-y: auto;

    scrollbar-width: auto;
    scrollbar-color: #828282 #333333;

    
  
    ::-webkit-scrollbar {width: 8px;}
    ::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0);}
    ::-webkit-scrollbar-thumb {
      background-color: #828282;
      border-radius: 10px;
      border: 0px solid #ffffff;
    }
   
    

    /* & > :first-child {
      animation: tagFade 0.2s ease-out;
    }
    & > :nth-child(2) {
      animation: tagFade 0.2s ease-out 0.05s;
    }
    & > :nth-child(3) {
      animation: tagFade 0.2s ease-out 0.1s;
    }
    & > :nth-child(4) {
      animation: tagFade 0.2s ease-out 0.15s;
    }
    & > :nth-child(5) {
      animation: tagFade 0.2s ease-out 0.2s;
    }
    & > :nth-child(6) {
      animation: tagFade 0.2s ease-out 0.25s;
    }
    & > :nth-child(7) {
      animation: tagFade 0.2s ease-out 0.3s;
    }
    & > :nth-child(8) {
      animation: tagFade 0.2s ease-out 0.35s;
    }
    & > :nth-child(9) {
      animation: tagFade 0.2s ease-out 0.4s;
    }
    & > :nth-child(10) {
      animation: tagFade 0.2s ease-out 0.45s;
    } */
  }
  
  
}

/* @keyframes tagFade {
  0% { 
    opacity: 0; 
    transform: translateY(10px);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0px) ;
  }
} */

path {
  &[data-color="brand"] {fill: var(--brand)}
  /* white, brnt brand dark */
  &[data-color="dark"] {fill: var(--brand-black)}
  &[data-color="white"] {fill: white}
}
