/*  */
/*  */


.tags_MODAL {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100dvh !important;
  width: 100%;


  z-index: 60;
  background-color: rgba(234, 237, 245, 1);
  display: flex;
  flex-direction: column;

  & .Dialog_MENU {
    height: 105%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

  }

  & .top {
    background-color: var(--fill-white);
    padding: 1.2rem 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    box-shadow: var(--shadow-img);
    position: relative;
    z-index: 1;

    & .top_WRAP {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .bottom_WRAP {
      display: flex;
      gap: 0.6rem;
    }
  }

  & .menu_WRAP {
    position: relative;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & .block_WRAP {
  
    & .block {
    display: flex; 
    flex-direction: column;
    row-gap: 0.6rem;
    padding: 1.4rem;  
    border-bottom: var(--border-black-01);
    }
  }

  &[data-entering] {
    animation: fade 200ms;
  }
  &[data-exiting="true"] {
    animation: fade 200ms reverse;
    pointer-events: none;

    & .Dialog_MENU {
      overflow-y: hidden;
      /* animation: FADE_0ToLeft 150ms ease-in forwards; */
    }
  }

  
  
  & ul > div {
    opacity: 0;
    animation: FADE_leftTo0 0.3s forwards; 
  }
  & ul > div:nth-child(1) {
    animation-delay: 0.1s;
  }
  & ul > div:nth-child(2) {
    animation-delay: 0.15s;
  }
  & ul > div:nth-child(3) {
    animation-delay: 0.2s;
  }
  & ul > div:nth-child(4) {
    animation-delay: 0.25s;
  }
  & ul > div:nth-child(5) {
    animation-delay: 0.3s;
  }
}

@keyframes FADE_leftTo0 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FADE_rightTo0 {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FADE_0ToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px); /* Move to the right */
  }
}
@keyframes FADE_0ToRight{
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px); /* Move to the right */
  }
}
@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}