/*  */
/*  */

.all_WRAP {
  display: flex;
  justify-content: center;

  padding: var(--padding-desk);
  @media (max-width: 1000px) {
    padding: var(--padding-mob);
  }
  
  & .content_WRAP {
    width: 100%;
    max-width: 120rem;
    display: flex;
    gap: 2rem;

    & .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 10rem;
    }

    & .side {
      width: 30rem;
      position: sticky;
      top: calc(6rem + 2.8rem); /* nav height + explore_WRAP padding */
      height: calc(100vh - 6rem - (2.8rem * 2)); /* screen - nav height - explore_WRAP padding */

      & .SimplePageSide_LINKS {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        & .link_BLOCK {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;
         
          
        }
      }

    }
  } 
}