/*  */

@import '@styles/global.css';


.all {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.ICON_arrow {
  &[data-color="dark"] {
    & path {
      fill: var(--brand-black)
    }
  }
  &[data-color="white"] {
    & path {
      fill: white;
    }
  }
}
.ICON_activeDigit {
  font-size: 1.4rem;
  font-weight: 700;
  height: 2rem;
  padding: 0 0.4rem;

  color: var(--text-fade);
  background-color: var(--btn-dark);
  border: var(--border-black-01);
  border-radius: 100px;

  &[data-active="true"] {
    color: var(--brand);
    background-color: var(--brand-active);
    border: var(--border-brand-active);
  }

}
.ICON_x {
  composes: all;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    transition: 100ms;
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: white;
    border-radius: 50px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &[data-rotate="true"] {
    transform: rotate(45deg);
    &::before,
    &::after {
      height: 80%;
    }
  }

  &[data-color="white"] {
    &::before,
    &::after {
      background-color: white;
    }
  }
  &[data-color="dark"] {
    &::before,
    &::after {
      background-color: var(--brand-black);
    }
  }
  &[data-color="red"] {
    &::before,
    &::after {
      background-color: var(--red);
    }
  }
}
.ICON_x_small {
  composes: ICON_x;
  width: 1.6rem;
  height: 1.6rem;
}
.ICON_save {
  composes: all;
  & path {
    &[data-style="white"] {
        stroke: white;
    }
    &[data-style="dark"] {
      stroke: var(--text-fade);
    }
    &[data-style="active"] {
      stroke: var(--brand);
      fill: var(--brand);
    }
  }
}


