/*  */

@import '@styles/global.css';


.all {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.ICON_arrow {
  composes: all;
  & path {
    &[data-color="white"] {
      fill: white;
    }
    &[data-color="dark"] {
      fill: var(--brand-black);
    }
  }
}
.ICON_leavePage {
  composes: all;
  height: 1.4rem !important;

  & path {
    &[data-color="white"] {
      fill: white;
    }
    &[data-color="dark"] {
      fill: var(--text-fade);
    }
  }
}
.ICON_activeDigit {
  font-size: 1.4rem;
  font-weight: 700;
  height: 2rem;
  min-width: 2rem;
  padding: 0 0.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-fade);
  background-color: var(--btn-dark);
  border: var(--border-black-01);
  border-radius: 10rem;

  & p {
    margin: 0.1rem 0 0 !important;
  }

  &[data-active="true"] {
    color: var(--brand);
    background-color: var(--brand-active);
    border: var(--border-brand-active);

    &[data-inverse="true"] {
      color: var(--text-white);
      background-color: var(--brand);
      border: var(--border-brand);
    }
  }

  &[data-jump="true"] {
    animation: pop 0.5s ease-out;
  }


}
.ICON_x {
  composes: all;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;


  &::before,
  &::after {
    transition: 100ms;
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background-color: white;
    border-radius: 5rem;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &[data-rotate="true"] {
    transform: rotate(45deg);
    &::before,
    &::after {
      height: 80%;
    }
  }
  &[data-rotation-animation="true"] {
    animation: rotation 5s infinite linear;
  }
  &[data-one-line="true"] {
    &::after {display: none}
  }

  &[data-color="white"] {
    &::before,
    &::after {
      background-color: white;
    }
  }
  &[data-color="dark"] {
    &::before,
    &::after {
      background-color: var(--brand-black);
    }
  }
  &[data-color="red"] {
    &::before,
    &::after {
      background-color: var(--red);
    }
  }
  &[data-color="green"] {
    &::before,
    &::after {
      background-color: var(--green);
    }
  }
  &[data-color="brand"] {
    &::before,
    &::after {
      background-color: var(--brand);
    }
  }
}

.ICON_x_small {
  composes: ICON_x;
  width: 1.6rem;
  height: 1.6rem;
}
.ICON_save {
  composes: all;
  & path {
    &[data-style="white"] {
      stroke: white;
    }
    &[data-style="dark"] {
      stroke: var(--text-fade);
    }
    &[data-style="red"] {
      stroke: var(--red-heart);
      fill: var(--red-heart);
    }
  }
}
.ICON_menuLines {
  composes: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--brand-black);
    border-radius: 5rem;

    &:nth-child(2) {
      margin: 0.4rem 0;
    }
  }
}
.ICON_proCon {
  composes: all;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  filter: saturate(1.2);
  box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.15);


  & svg {
    width: 1.2rem !important; /* Adjust width as needed */
    height: 1.2rem !important; /* Adjust height as needed */
    margin-left: 0 !important;
  }

  &[data-pro="true"] {
    background-color: #2a9e1f
  }
  &[data-pro="false"] {
    background-color: #fb5e5e
  }
}

.ICON_dropDownArrow {
  width: 1.6rem;
  height: 1.6rem;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0.15rem 0.42rem 0 0.42rem;

  &[data-color="white"] {
    & path {
      fill: white;
    }
  }
  &[data-color="dark"] {
    & path {
      fill: var(--brand-black);
    }
  }
}
.ICON_3dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  & div {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100px;
    background-color: var(--brand-black);
  }

  &[data-color="white"] {
    & div {
      background-color: var(--fill-white);
    }
  }
}
.ICON_error {
  composes: all;
  & path {
    &[data-color="red"] {
      fill: var(--red);
    }
    &[data-color="dark"] {
      fill: var(--brand-black);
    }
    &[data-color="white"] {
      fill: var(--text-white);
    }
  }
}
.ICON_smiley {
  object-fit: contain;
  height:  3.2rem;
  width: 3.2rem;

  & path {
    &[data-color="brand"] {
      fill: var(--brand);
    }
    &[data-color="dark"] {
      fill: var(--brand-black);
      opacity: 0.8;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}