/*  */
/*  */
@import '@styles/global.css';


.CategoryBar {
  width: 100%;
  position: relative;
  display: flex;
  gap: 0.8rem;


  & .ul_WRAP {
    position: relative;
    overflow: hidden;

    & ul {
      display: flex;
      gap: 0.8rem;
      overflow-x: auto;
      scrollbar-width: none;
  
      padding: var(--padding-shadow-save);
      padding-right: 2rem;
  
      max-width: 100%; 
      white-space: nowrap; 
    }

    & .fade {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1rem;
      background: var(--fill-bg);
      opacity: 1;

      &[data-first] {
        left: 0%;
        background: linear-gradient(to right, var(--fill-bg) 0%, var(--fill-bg) 50%, transparent 100%);
      }
      &[data-second] {
        right: 0;
        background: linear-gradient(to left, var(--fill-bg) 0%, var(--fill-bg) 50%, transparent 100%);
      }

      &[data-hide="true"] {
        opacity: 0;
      }
    }
  }

  /* & ul {
    display: flex;
    gap: 0.8rem;
    overflow: auto;
  } */

  & .test_arrow_wrap {
    display: flex;
    gap: 0.8rem;
    & button {
      height: 100%;
      border-radius: var(--radius-16);
    }

    &[data-start="true"] {
      & button:first-child {
        opacity: 0.3;
        pointer-events: none;
      }
    }
    &[data-end="true"] {
      & button:last-child {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
  /* & .test_arrow_wrap {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-left: 2rem;

    background: linear-gradient(to left, var(--fill-bg) 0%, var(--fill-bg) 70%, transparent 100%);

    gap: 0.8rem;
    align-items: center;
  } */

  & .test_GRID {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 0.8rem;
    column-gap: 0.8rem;
    width: 100%;

    & > div {
      width: 100%;
    
    }

  }

  @media (--mobile) {
    left: calc(-1 * var(--padding-mob));
    width: calc(100% + var(--padding-mob) * 2);
    padding: 0 var(--padding-mob);
  } 
}