/*  */

@import '@styles/global.css';

.header {
  position: fixed;
  top: 0;
  z-index: 50;

  display: flex;
  align-items: center;

  width: 100%;
  height: 6rem;
  
  padding-left: var(--padding-desk);
  padding-right: var(--padding-desk);
  background-color: var(--fill-white);
  box-shadow: 0rem 0.2rem 0.8rem 0rem rgba(0, 0, 0, 0.10);

  & .nav_WRAP {
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 1;
    transform: translateX(0rem);
    position: relative;

    & h1 {
      height: 100%;
      display: flex;
      place-items: center;
      padding-bottom: 0.4rem;
      width: 4rem;

      &[data-shrink="false"] {
        width: 17.2rem;
      }
      
      & a {
        display: flex;
        /* height: 2.75rem; */
        width: 100%;
        height: 100%;
        align-items: center;

        & svg {
          position: absolute;
          width: 17.2rem;
        }

        & * {
          position: relative;

        }
      }
    }

    & nav  {
      flex: 1;

      & ul {
        display: flex;
        column-gap: 0.8rem;

        & > li:first-child {
          margin-left: auto;
        }

        & li[data-marginleft="true"] {
          margin-left: auto;
        }

        
        
      }
      & .hide-search-btn button[data-custom="search-btn"] {
        pointer-events: none;
      }
      
      
    }

    
    
  }
 
  

  &[data-hidemainnav="true"] {
    overflow: hidden;

    & .nav_WRAP {
      pointer-events: none;
      opacity: 0;
      transform: translateX(2rem);
    }
  }

  @media (--mobile) {
    padding-left: var(--padding-mob);
    padding-right: var(--padding-mob);
  }
}

.block_WRAP {
  display: flex;
  flex-direction: column;  
  gap: 0.6rem;
  padding: 1.2rem;
  border-bottom: var(--border-black-01);

  &:last-child {
    border-bottom: none;
  }

  &[data-custom="saved"] {
    & li {
      margin-bottom: 0.2rem;
    }
  }

  @media (--mobile) {
    padding: var(--padding-mob);
  }
}
.inline_SPAN {
  display: flex;
  gap: 0.6rem;
  & li {
    display: flex;
    flex: 1;
    
    & button {
      & p {margin-right: 0}
      justify-content: center !important;
    }

    &[data-item="li-btn-normal"] button p {
      font-size: 17px;
      @media (--mobile) {
        font-size: 19px;
      }
    }
    &[data-item="li-btn-big"] button p {
      font-size: 18px;
      @media (--mobile) {
        font-size: 20px;
      }
    }
    &[data-item="li-btn-huge"] button p {
      font-size: 20px;
      @media (--mobile) {
        font-size: 22.5px;
      }
    }
  }
  
}
.Modal_MENU {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  height: 100dvh !important;
  width: 100%;

  z-index: 40;
  background-color: rgba(234, 237, 245, 1);
  display: flex;
  flex-direction: column; 
  
  & ul {
    overflow-y: hidden;
  }

  & .Dialog_MENU {
    height: 105%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & button {
    width: 100%;
    & p {margin-right: auto}
  }
  & .block_WRAP {
    &:last-child {border-bottom: var(--border-black-01)}
  }

  &[data-entering] {
    animation: fade 200ms;
  }
  &[data-exiting="true"] {
    animation: fade 200ms reverse;
    pointer-events: none;

    & .Dialog_MENU {
      overflow-y: hidden;
      animation: FADE_0ToLeft 150ms ease-in forwards;
    }
  }
  
  
  & ul > div {
    opacity: 0;
    animation: FADE_leftTo0 0.3s forwards; 
  }
  & ul > div:nth-child(1) {
    animation-delay: 0.1s;
  }
  & ul > div:nth-child(2) {
    animation-delay: 0.15s;
  }
  & ul > div:nth-child(3) {
    animation-delay: 0.2s;
  }
  & ul > div:nth-child(4) {
    animation-delay: 0.25s;
  }
  & ul > div:nth-child(5) {
    animation-delay: 0.3s;
  }


}

@keyframes FADE_leftTo0 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FADE_rightTo0 {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FADE_0ToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px); /* Move to the right */
  }
}
@keyframes FADE_0ToRight{
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px); /* Move to the right */
  }
}
@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
.savedBtn_LI {
  display: flex;
  column-gap: 0.6rem;

  & button[data-custom="remove"] {
    height: auto;
    width: auto;
  }


  
}
.search_OVERLAY {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: var(--padding-desk);
  padding-right: var(--padding-desk);

  column-gap: 0.8rem;
  z-index: 55;
  background: white;

  & :first-child {
    flex: 1;
  }
  @media (--mobile) {
    padding-left: var(--padding-mob);
    padding-right: var(--padding-mob);
  }
}
.noSavedItems_BOX {
  height: 18rem;
  border: 2px dotted rgba(0, 0, 0, 0.2);  
  border-radius: var(--radius-12);
  position: relative;
  overflow: hidden;
  /*  place the image into the ::before */

  
  &&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    background-image: url('https://cdn-icons-png.freepik.com/512/520/520708.png?ga=GA1.1.807612306.1716024941');
    background-size: 4rem;
    background-position: center;
    background-repeat: no-repeat;
  }



}
