/*  */
/*  */

@import '@styles/global.css';

.feedback_MODAL {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 60;

  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(0.5rem);

  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 700px) {align-items: flex-end}

  & .content_WRAP {
    background-color: var(--fill-bg);
    display: flex;
    flex-direction: column;

    min-height: 40rem;
    max-height: 80vh;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: var(--radius-16);


    overflow: hidden;
    
    width: 70rem;
    @media (max-width: 900px) {width: 50rem}
    @media (max-width: 700px) {  
      width: 100%;
      border-radius: var(--radius-16) var(--radius-16) 0 0;
      min-height: none;
      max-height: none;
      height: 95dvh;
      animation: FADE_BottomTo0 200ms ease-out;
    }

    & form {
      flex: 1; 
      overflow: hidden;       

      display: flex;
      flex-direction: column;

      & .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--fill-white);
        box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
        padding: 1.6rem 2rem; 

        position: relative;
        z-index: 1; 
      }

      & .bottom {
        flex: 1;
        overflow-y: auto;

        & h4 {
          padding: 1.4rem 2rem;
          border-bottom: var(--border-black-01);
        }

        & .allInput_WRAP {
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
        }

        & .btn_WRAP {
          display: flex;
          padding: 1.4rem 2rem;
          gap: 0.8rem;
          border-top: var(--border-black-01);
        }

        @media (max-width: 700px) {padding-bottom: 24rem}
      }

    }
  }

  &[data-entering] {
    animation: fade 200ms;
  }
  &[data-exiting="true"] {
    animation: fade 200ms reverse;
    pointer-events: none;

    @media (max-width: 700px) {
      & .content_WRAP {
        overflow-y: hidden;
        animation: FADE_0ToBottom 200ms ease-out;
      } 
    }

  }

}

@keyframes FADE_BottomTo0 {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes FADE_0ToBottom {
  from {
    opacity: 1;
    transform: translateY(0rem);
  }
  to {
    opacity: 0;
    transform: translateY(6rem);
  }
}
@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}