/*  */
/*  */
@import '@styles/global.css';


.header {
  width: 100%;

  & .content_WRAP {
    width: 100%;
    padding: 1.6rem 1.8rem 1rem 1.8rem;
    background: var(--fill-white);
    box-shadow: var(--shadow-btn);
    border-radius: var(--radius-16);
  }

  @media (--mobile) {

    &[data-padding="true"] {
      padding:  var(--padding-mob) var(--padding-mob) 0;
    }
  }
}