/*  */

@import '@styles/global.css';


.explore_WRAP {
  width: 100%;
  min-height: 80vh;
  display: flex;
  column-gap: 2.8rem;
  padding: var(--padding-desk);


  @media (--mobile) {
    /* padding: var(--padding-mob); */
    padding: 0;
  }
  
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding-shadow-save);

  overflow: hidden;
  @media (--mobile) {
    width: 100%;
    overflow: visible;
    padding: 0;
  }

  padding-bottom: 20rem !important
}
.right {
  width: 30rem;
  position: sticky;
  top: calc(6rem + 2.8rem); /* nav height + explore_WRAP padding */
  height: calc(100vh - 6rem - (2.8rem * 2)); /* screen - nav height - explore_WRAP padding */
}






.profile_GRID {
  /* margin-top: 2rem; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr)); /* 350px */
  grid-auto-rows: 50rem; /* 500px */
  gap: 1.6rem; /* 20px */

  &[data-type="the-rest"] {
    margin-top: var(--padding-desk);
    padding-top: var(--padding-desk);
    border-top: var(--border-black-015);
  }
  
  @media (--mobile) {
    /* grid-auto-rows: calc(100vw * (4 / 3.5) + 4rem);  */
    grid-auto-rows: 60vh; 
    grid-template-columns: 1fr;
    padding: 0 var(--padding-mob) var(--padding-mob);
    margin-top: var(--padding-mob);
    padding-top: var(--padding-mob);
  }

  @media (--landscape) {
    background: green;
    grid-auto-rows: 30rem; /* 300px */
  }
}



/* /////////// */


