/*  */

@import '@styles/global.css';


.explore_WRAP {
  width: 100%;
  min-height: 80vh;
  display: flex;
  column-gap: 2.8rem;
  padding: var(--padding-desk);
  padding-bottom: 40rem !important; /* 400px */


  @media (--mobile) {
    /* padding: var(--padding-mob); */
    padding: 0;
  }
  
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--padding-shadow-save);

  overflow: hidden;
  @media (--mobile) {
    width: 100%;
    overflow: visible;
    padding: 0;
  }
}
.right {
  width: 30rem;
  position: sticky;
  top: calc(6rem + 2.8rem); /* nav height + explore_WRAP padding */
  height: calc(100vh - 6rem - (2.8rem * 2)); /* screen - nav height - explore_WRAP padding */
}


.potentialTag_NAV {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: var(--fill-white);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);

  & .top {
    padding: 1rem var(--padding-mob);
    box-shadow: var(--shadow-img);
    position: relative;  /* for the shadow to be visible */ 
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  & .bottom {
    background-color: var(--fill-bg);  
    display: flex;
    flex-direction: column;


    & .block {
      display: flex; 
      flex-direction: column;
      row-gap: 0.6rem;
      padding: 1.4rem;  
      border-bottom: var(--border-black-01);
      padding: 1.2rem var(--padding-mob) var(--padding-mob);
      }

    & .tagLabel_WRAP {
      display: flex;
      gap: 0.6rem;
      flex-wrap: wrap;
      padding: var(--padding-mob) var(--padding-mob) 0;

      & .label {
        border: 1px solid grey;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 1.2rem;
        padding: 0.2rem 0.8rem;
        font-weight: 500;

        &[data-color="brand"]{
          background: var(--btn-brand-active);
          color: var(--text-brand);
          border: var(--border-brand-active);
        }
        &[data-color="green"]{
          background: var(--green-bg);
          color: var(--green);
          border: var(--green-border);
        }
        &[data-color="red"]{
          background: var(--red-bg);
          color: var(--red);
          border: var(--red-border);
        }
      }
    }
    & .btn_WRAP {
      display: flex;
      gap: 0.6rem;
      padding: 1.2rem var(--padding-mob);
    }
  }
}



.profile_GRID {
  /* margin-top: 2rem; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); /* 350px */
  grid-auto-rows: 50rem; /* 500px */
  gap: 1.6rem; /* 20px */

  /* background: green; */
  
  @media (--mobile) {
    /* grid-auto-rows: calc(100vw * (4 / 3.5) + 4rem);  */
    grid-auto-rows: 60vh; 
    grid-template-columns: 1fr;
    padding: 0 var(--padding-mob) var(--padding-mob);
  }

  @media (--landscape) {
    background: green;
    grid-auto-rows: 30rem; /* 300px */
  }
}

/* /////////// */


