/* // */

@import '@styles/global.css';
@custom-media --low-height (max-width: 700px);



.dropdown_PARENT {
  width: auto;
  position: relative;

  & .dropdown {
    position: absolute;
    top: calc(100% + 1.6rem);
    left: 0;
    z-index: 100;
    
    border-radius: var(--radius-16);
    overflow: hidden;
    box-shadow: 0 0 1rem #0000006b;
    
    width: 100%;
    min-width: fit-content;
    background-color: var(--fill-bg);
  
    max-height: min(700px, calc(100vh - 6rem - 2rem)); /* 100vh - nav height - gap */
    transition: 300ms;
    animation: dropdown 300ms forwards;
  
    &[data-scroll="true"]{overflow-y: scroll};
    -webkit-scrollbar-track {
      background-color: red;
    }
  
    & ul { flex-direction: column }
  
  }
}


@keyframes dropdown {
  0% {opacity: 0} 100% {opacity: 1}
}



