/* // */

@import '@styles/global.css';

.dropdown {
  position: absolute;
  top: calc(100% + 1.6rem);
  left: 0;
  z-index: 100;
  
  border-radius: var(--radius-16);
  overflow: hidden;
  box-shadow: 0 0 1rem #0000006b;
  /* border: var(--border-brand-black); */
  width: 100%;
  min-width: fit-content;
  background-color: var(--fill-bg);

  & ul {
    display: flex;
    flex-direction: column;

    & button {
      width: 100%;
      justify-content: left;
    }
  }
}
.dropdown.active {
  bottom: auto;
  display: auto;
  left: auto;
  right: auto;
  top: auto;
  transform: none;
}
.container {
  width: auto;
  position: relative;
}
.option_WRAP {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  column-gap: 0.6rem;
  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  & span:first-child {
    width: 100%;
  }

  & li {
    flex: 1;
    
    & button {
      justify-content: center;
    }
  }
}

