/*  */
@import '@styles/global.css';
@custom-media --mobile (max-width: 700px);



.search_WRAP {
  position: relative;
  /* overflow: hidden; */
  border-radius: 10rem;
  transition: 50rem;
  height: 4rem;
  width: 30rem;


  @media (--mobile) {
    height: 4.4rem;
  }
}
.searchIcon_WRAP {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 15;

  height: 100%;
  padding-left: 1.4rem;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar {
  display: flex;
  transition: 15rem;
  & * {
    transition: 15rem;
  }
  align-items: center;
  position: relative;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;

  & input {
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 0 6rem 0 3.8rem;
    font-size: inherit;

    outline: 0.2rem solid transparent;
    border-radius: 10rem;
    background-color: var(--btn-dark);
    color: var(--text-black);
    border: var(--border-black-01);

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
    &::placeholder {
      color: var(--text-fade);
    }

    &[data-hovered="true"] {
      background-color: var(--btn-darkest);
    }
    &[data-focused="true"] {
      background-color: var(--btn-dark);
      border: var(--border-brand-black);
    }
    &[data-focus-visible] {
      outline: var(--outline-brand-black);
      outline-offset: -0.1rem;
    }
  }
}

.btn {
  height: 100%;
  position: absolute;
  top: 0.05rem;
  transition: 15rem;
  z-index: 5;

  &[data-hide="true"] {
    pointer-events: none;
  }

  outline: 0.2rem solid transparent;
  &[data-focus-visible] {
    outline: var(--outline-brand-black);
    outline-offset: -0.2rem;
  }
}
.right-btn {
  composes: btn;
  padding: 0 1.6rem 0 1.4rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;

  border-left: var(--border-black-01);
  background-color: var(--btn-dark);
  border-radius: 0 10rem 10rem 0;
  right: 0.1rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    & ::before,
    ::after {
      background-color: var(--brand-black);
    }
  }

  &[data-hovered="true"] {
    background-color: var(--btn-darkest);
  }
  &[data-focused="true"] {
    border: var(--border-brand-black);
  }
  &[data-pressed] {
    border-left: var(--border-brand-black);
    & ::before,
    & ::after {
      background-color: var(--red);
    }
  }
}
.clearer_BTN {
  composes: right-btn;
}
.closer_BTN {
  composes: right-btn;

}
.invisibleClear_BTN {
  pointer-events: none;
  opacity: 0;
}


.Modal_SEARCH {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  
  background: var(--fill-white);
  border-bottom: var(--border-brand-black);
 
  padding: var(--padding-desk);
  padding-top: calc(6rem + var(--padding-desk));
  

  @media (--mobile) {
    padding: var(--padding-mob);
    padding-top: calc(6rem + var(--padding-mob));
  }
}