/*  */
/*  */
@import '@styles/global.css';

.header { 
  display: flex;
  gap: 0.8rem;
  width: 100%;

  position: sticky;
  top: var(--height-nav);
  z-index: 15;
  padding: 1.2rem 0;
  margin: 1.2rem 0;
  
  

  & .background {
    position: absolute;
    background: var(--fill-bg);
    top: 0;
    left: calc(-1 * var(--padding-desk) - 1rem);
    width: calc(var(--padding-desk) + 1rem + 100% + var(--padding-desk) + 1rem);
    height: 100%;
    box-shadow: 0 0.5rem 1rem transparent;
    transition: 100ms;

    &[data-shadow="true"] {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
  }

  & .mainBtn_WRAP, .tags_WRAP {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }



  
  

  & .mobileBtn_WRAP {
    display: flex;
    width: 100%;
    gap: 0.8rem;

    & button:first-child {
      flex: 1;
      justify-content: left;
      & p {
        margin-right: auto;
      }
    }
  }

  @media (--mobile) {
    /* left: 0;
    width: 100%; */
    
    
  }
}

