/*  */

@import '@styles/global.css';
/* @import "~swiper/swiper-bundle.css"; */

.profile_PREVIEW {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: relative;
  overflow: hidden;

  border-radius: var(--radius-16);
  box-shadow: var(--shadow-small);
  background: white;

  & .top, .bottom {
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 8px;
    z-index: 2;
    gap: 4px;
  }
}
.top {
  top: 0px;
  display: flex;

  & .top_RIGHT {
    display: flex;
    gap: 4px;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.bottom {
  bottom: 0px;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) auto;
  align-items: end;

  & .btnProfilePreview_WRAP {
    grid-column: 1;
  }
  & .slider_ARROWS {
    display: flex;
    gap: 4px;  
    grid-row: 1;
    grid-column: 2;


    & svg {
      
    }
    &[data-arrowmove="prev"] > :first-child > svg,
    &[data-arrowmove="next"] > :last-child > svg {
      animation: pop-to-side 0.3s ease-out;
    }
  }

  &[data-search="true"] {
    & .btnProfilePreview_WRAP {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}
@keyframes pop-to-side {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}



.label {
  border-radius: 8px;
  padding: 4px 8px;
  height: 32px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,1);
  box-shadow: var(--shadow-small);

  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;

}
.labelNew {
  composes: label;
  background: linear-gradient(
    rgba(255, 100, 100, 1) 0%, /* Red */
    rgba(255, 180, 0, 1) 10%, /* Orange */
    rgba(220, 230, 40, 1) 20%, /* Yellow */
    rgba(100, 200, 100, 1) 30%, /* Green */
    rgba(80, 180, 180, 1) 40%, /* Cyan */
    rgba(70, 160, 200, 1) 50%, /* Light Blue */
    rgba(60, 120, 200, 1) 60%, /* Blue */
    rgba(100, 50, 200, 1) 70%, /* Dark Blue */
    rgba(150, 30, 200, 1) 80%, /* Purple */
    rgba(220, 30, 180, 1) 90%, /* Magenta */
    rgba(255, 100, 100, 1) 100% /* Red */
  ) 0 0/200% 200%;  animation: move 3s linear infinite; /* Continuous moving animation */
}
@keyframes move {
  to {
    background-position: 200% 200%; /* Move the background diagonally to the opposite corner */
  }
}
.profile_IMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag_PREVIEW {
  width: 100%;
  height: fit-content;

  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;

  background: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(20px);
  box-shadow: 0px -1px 20px #000000bd;

  & .tagPreview_TOP {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 16px;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.90);

  }
  & .tagPreview_BOTTOM {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 6px;
    padding: 12px 8px;

    
  }
  
  & button {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0);

    &:hover {background: rgba(255, 255, 255, 0.1) !important}
  }
}

path {
  &[data-color="brand"] {fill: var(--brand)}
  /* white, brnt brand dark */
  &[data-color="dark"] {fill: var(--brand-black)}
  &[data-color="white"] {fill: white}
}
