/*  */
/*  */
@import '@styles/global.css';

.header { 
  display: flex;
  gap: 0.8rem;


  width: 100%;
  max-width: 100vw;
  padding: 1rem 0;
  margin: 1.4rem 0;

  flex-wrap: wrap;

  position: sticky;
  top: var(--height-nav);
  z-index: 15;
  background-color: var(--fill-bg);

  & .mobileBtn_WRAP {
    display: flex;
    width: 100%;
    gap: 0.8rem;


    & button:first-child {
      flex: 1;
      justify-content: left;
      & p {
        margin-right: auto;
      }
    }

    &[data-bottom="true"] {
      padding-bottom: 10dvh;
    }
  }

  &[data-shadow="true"] {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  @media (--mobile) {
    margin: 1.2rem 0;
    padding: 1rem var(--padding-mob);
  }
}

